.hero-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background: #05254d;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 100;
}
.hero-text h1 {
  font-family: "Russo One";
  position: relative;
  display: inline-block;
}

.hero-text h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -10px;
  right: -10px;
  height: 4px;
  background-color: white;
}

.top-image {
  border-radius: 12px;
}
.forget-about {
  font-size: 24px;
}

.category-heading {
  font-family: "Russo One", sans-serif;
  position: relative;
  display: inline-block;
  color: white;
}
.category-heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -10px;
  right: -10px;
  height: 4px;
  background-color: white;
}
.categories {
  background-color: #05254d;
}
.category-card {
  border-radius: 1px;
}
.category-description {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 50;
  color:white
}
.category-name {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 550;
  color:white
}

.category-body img {
  height: 320px;
  border-radius: 12px;
}
.category-body .odd {
  position: sticky;
  bottom: 0px;
}

/* hhhhhhhhhhhhhh */

.category-body {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.the-card {
  position: relative;
  transition: transform 0.3s ease, opacity 3s ease;
  border-radius: 190px;
  /* background-color: rgb(247, 245, 245); */
  

  max-width: 300px;
}

.the-card:hover {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}
.ticket {
  /* font-family: "Russo One"; */
  font-weight:700;
  margin-bottom: -24px;
  margin-top: -12px;
  color: rgb(103, 233, 103); 
  /* color: #028043; */
}
.onclick {
  /* font-family: "Russo One"; */
  font-weight:700;

  margin: -12px;
  color: white;
}
.quotes {
  font-size: 100px;
  color: black;
}
.review-image {
  max-width: 220px;
  border-radius: 18px;
}
.reviews-section {
  border-radius: 12px;
  background: #05254d;
  color:white
}
.reviews-section p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
  opacity: 0.8;
}
.static-numbers {
  background: white;
  border-radius: 12px;
  padding: 10px;
}
.static-numbers h2 {
  font-family: "Russo One";
  /* font-weight: 600; */
  font-size: 32px;
}
.static-numbers p {
  opacity: 0.8;
  font-family: "Roboto";
  font-weight: 300;
}
.statistics {
  border-radius: 12px;
  background: #05254d;
}
.our-part {
  background: #05254d;
  color: white;
}
.our-part h5 {
  font-weight: 600;
}
.our-part p {
  opacity: 0.8;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.about-heading {
  font-family: "Russo One", sans-serif;
  position: relative;
  font-weight: 300;


  color: #05254d;
  /* font-size: 46px; */
}
.about-heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 4px;
  background-color: #05254d;
}
.abou {
  background: rgb(250, 249, 249);
}
.footer-image-bg img {
  width: 100%;
  object-fit: cover;
  max-height: 320px;
}
.footer-image-bg {
  background: #2a1e11;
}
.category-body .card{
  background: #028043;
}